/* styles/RatingPage.module.css */

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    background-color: #0078d7;
    padding: 20px;
}

.headerContainer {
  width: 90%;
  background: #1A4B75;
  border-radius: 15px;
  padding: 2.5% 5%;  /* Responsive padding */
  text-align: center;
  font-size: 2.5vw;  /* Scale text based on screen width */
  font-weight: bold;
  color: #ffffff;
  border: 0.3vw solid #ffffff; /* Responsive border */
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: 0px 0.5vw 1vw rgba(0, 0, 0, 0.2); /* Responsive shadow */
}

.requestIdContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: #ffffff;
  border-radius: 50vw; /* Fully rounded */
  padding: 1% 3%;
  font-size: 2vw; /* Responsive font size */
  font-weight: bold;
  border: 0.3vw solid #ffffff;
  margin-top: auto;  /* Pushes it to the bottom */
  position: relative; /* Keeps it inside the header */
  top: 50%; /* Moves it towards the bottom */
  width: 50%; /* Responsive width */
   direction: rtl; /* Ensures proper right-to-left flow */
  unicode-bidi: plaintext; /* Ensures the number stays in the correct position */
}

.headerTitle {
  font-size: 8vw; /* Responsive font size */
  font-weight: bold;
  color: #ffffff; /* Ensure it's white */
  text-shadow: 0 0.3vw 0.5vw rgba(0, 0, 0, 0.3); /* Optional glow */
}



.requestIdLabel {
  color: #1A4B75;
  font-size: 16px;
  font-weight: bold;
}

.requestId {
  color: #ffcc00;
  font-size: 18px;
  font-weight: bold;
}


.ratingSection {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ratingLabel {
  background-color: #1A4B75;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 15px;
  border: 2px solid #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

.ratingContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #ffcc00;
  margin-top: 10px;
}

.submitButton {
  width: 80%;
  background-color: #ffcc00 !important;
  color: #000 !important;
  font-size: 20px !important;
  font-weight: bold !important;
  padding: 10px !important;
  border-radius: 10px !important;
  margin-top: 30px;
}
